[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
imageio = "==2.1.2"
madmom = "==0.16.dev0"
Markdown = "==2.2.0"
midi2audio = "==0.1.1"
mido = "==1.2.8"
music21 = "==5.1.0"
numpy = "==1.14.3"
Pillow = "==5.0.0"
pretty-midi = "==0.2.8"
protobuf = "==3.5.1"
pypianoroll = "==0.1.3"
PyYAML = "==3.12"
scipy = "==1.0.0"
SharedArray = "==2.0.4"
six = "==1.11.0"
tensorflow-gpu = "==1.2.0"
tensorflow-tensorboard = "==0.4.0rc3"
Werkzeug = "==0.14.1"
